.wraper {
  margin: 0 auto;
}

.header {
  width: 100%;
  position: fixed;
  height: 84px;
  background-color: #007765;
}

.header__logo {
  display: inline-block;
  margin: 11px 0px 27px 28px;
}

.nav {
  white-space: nowrap;
}

.header__nav {
  position: absolute;
  top: 28px;
  left: 67%;
}

.nav__link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
}

.banner {
  height: 403px;
  padding: 160px 396px;
  background-color: black;
  background-image: url(./img/image-8.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.banner__title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 84px;
  text-align: center;
  color: #FFFFFF;
}

.section-problem {
  background: #EEEEEE;
  padding: 48px 50px;
}

.text-align {
  width: 1200px;
  margin:0 auto;
}

.content-title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  text-align: center;
  color: #007765;
  height: 75px;

}

.section__title {
  margin-bottom: 16px;
}

.section__paragf {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
  margin-bottom: 40px;
}

.banner-two {
  height: 483px;
  padding: 128px 163px;
  background-color: black;
  background-image: url(./img/image-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.banner__text {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #FFFFFF;
}

.section-PiedPiper {
  height: 604px;
  background-color: #FFFFFF;
  padding: 48px 55px 92px 55px;
}

.section-PiedPiper__title {
  margin-bottom: 16px;
}

.section-PiedPiper__paragf {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
  margin-bottom: 40px;
}

.pp-logo {
  float: left;
  margin: 0px 48px 35px 0px;
}

.section-PiedPiper_flow-root {
  display: flow-root;
}

.list-img {
  background-color: #EEEEEE;
  height: 845px;
  padding: 48px 56px 94px 56px;
  text-align: center;
  white-space: nowrap;
}

.list-img__title {
  margin-bottom: 32px;
}

.list-img__item {
  display: inline-block;
  height: 283px;
  width: 350px;
  margin: 0px 30px 30px 0px;
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;

}

.list-img__team {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #007765;
}

.footer {
  height: 176px;
  background-color: #333333;
  padding: 48px 340px 64px 340px;
}

.footer__text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
}
